<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width",
        initial-scale="1.0">
        <script src="https://kit.fontawesome.com/df5425ecbb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <!-- Navbar  -->
        <div class="navbar">
            <div class="container flex">
                <img src="/IMG_2316.png">
                <nav>
                    <!-- <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/contact">Contact</a></li>
                    </ul> -->
                </nav>
            </div>
        </div>


        <section class="main">
            <div class="container grid">
                <div class="info">
                    <h1>Savage Self-Storage</h1>
                    <h2>601 CR 3400</h2>
                    <h2>Lampasas, TX 76550</h2>
                    <p>Savage Self-Storage offers 10x5 and 10x15 storage units, as well as RV, boat,
                        and trailer parking. We are conviently located just north of Lampasas near 
                        the intersection of Hwy 281 and US 183.
                    </p>
                    <p>
                        Reserve your unit today by giving us a call at 555-555-5555
                        or email us at savageselfstorage@gmail.com 
                    </p>
                </div>
                <div>
                    <div class="main-img"></div>
                </div>
        </section>
        
        <section class="location">
            <div class="container">
                <div id="map">
                    <iframe
                    width="400"
                    height="400"
                    style="border: 0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJGbFRYM6VWoYR_jaj41HGM1E&key=<%=apikey%>">
                </iframe>
                </div>
            </div>
            
        </section>
        
        <section class="units">
            <div class="container">
                <div class="grid">
                    <div class="box">
                        <div class="unit-info">
                            <h2>10 x 5 Storage Unit</h2>
                            <strong>$55/month</strong>
                        </div>
                        <div class="unit-img">
                            <img src="/10X5.jpeg"> 
                        </div>
                    </div>
                    <div class="box">
                        <div class="unit-info">
                            <h2>10 x 15 Storage Unit</h2>
                            <strong>$89/month</strong>
                        </div>
                        <div class="unit-img">
                            <img src="/15X10.jpeg"> 
                        </div>
                    </div>
                </div>
                </div>
        </section>
        
        <section class="icons">
            <div class="container">
                <div class="card">
                    <i class="fa-solid fa-lock fa-4x"></i>
                    <h3>Secure Units</h3>
                </div>
                <div class="card">
                    <i class="fa-regular fa-credit-card fa-4x"></i>
                    <h3>Online Bill Pay</h3>
                </div>
                <div class="card">
                    <i class="fa-solid fa-caravan fa-4x"></i>
                    <h3>RV, Boat, and Trailer Parking</h3>
                </div>
            </div>
        </section>


    </body>
</html>