@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  color: black;
  background-color: #ffffff;
  max-width: 1920px;
}

a {
  text-decoration: none;
  color: black;
  /* font-size: larger; */
}

ul {
  list-style-type: none;
}

h1 {
  font-weight: 600;
  margin: auto;
  margin-bottom: 10px;
  font-size: 3em;
  color: #333333;
}

.navbar {
  background-color: #333333;
  height: 150px;
  box-shadow: 0px 1px 3px;
}

.navbar .container {
  max-width: 1400px;
  padding: 0 40px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  justify-content: center;
  color: #bbb0a3;
  font-size: 20px;
  font-weight: 700;
}

.navbar a:hover {
  border-bottom: 2px solid #bbb0a3;
}

.main .grid {
  z-index: -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.info {
  /* width: 50%; */
  color: #333333;
  background-color: #bbb0a3;
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  padding: 10%;
}

.info p {
  margin: 10px 0;
  font-size: x-large;
  line-height: 1.6rem;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-img {
  background-image: url("../savage-background_800x600.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50vw;
  overflow: auto;
  position: relative;
  z-index: -2;
}

button {
  padding: 3px 5px;
  /* background-color: rgb(240, 9, 9); */
  background-color: black;
  border-radius: 3px;
  border: 1px solid black;
  color: #ffffff;
  font-size: medium;
}

.signup {
  padding: 3px 5px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  color: black;
  font-size: medium;
}

button:hover {
  background-color: #bbb0a3;
  color: black;
  border: 1px solid black;
}

.location {
  height: auto;
  background-color: #333333;
  box-shadow: 0 2px 5px;
  color: #ffffff;
}

.location .container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

#map {
  width: 100%;
  padding: 2% 15%;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 100%;
}

.units {
  height: auto;
  padding: 40px 0px;
  background-color: #bbb0a3;
}

.units h3 {
  text-align: center;
  font-family: Roboto;
}

.units .grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.units .box {
  background-color: #333333;
  color: #bbb0a3;
  margin: 30px 70px;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0px 1px 5px black;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  opacity: 95%;
  height: auto;
  align-items: flex-start;
}

.unit-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px 10px 10px;
}

.unit-img {
  height: 200px;
  width: 150px;
  background-size: cover;
  margin: 10px;
  text-align: center;
}

.unit-img img {
  border-radius: 3px;
  box-shadow: 0px 0px 3px black;
}

.icons {
  background-color: #333333;
  padding: 30px 0;
}

.icons .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  max-width: 75%;
}

.card {
  display: flex;
  flex-direction: column;
  color: #bbb0a3;
  margin: 5px 20px;
  align-items: center;
  padding: 20px;
}

.card i {
  margin-bottom: 20px;
}

.login-form {
  border: solid black 1px;
  border-radius: 3px;
  margin: 10% 35%;
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 5px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
  border: none;
  border-bottom: solid 1px grey;
  /* border-radius: 3px; */
  max-width: 100%;
}

option {
  color: black;
}

input,
textarea {
  font-size: medium;
}

textarea:focus,
input:focus {
  outline: none;
}

.container .unitDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 10px;
  margin: 30px;
}

.unitCard {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 10px;
  border: 1px solid black;
  justify-content: space-between;
  background-color: #bbb0a3;
  color: #333333;
}

.unitTitle {
  display: flex;
  justify-content: space-between;
}

.unitCard form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.unitCard .form-item {
  margin: 8px 0;
  padding: 3px 0;
}

@media screen and (max-width: 768px) {
  .main .grid {
    grid-template-columns: 1fr;
  }

  .main-img {
    height: 400px;
    width: 100%;
  }

  #map {
    padding: 5%;
  }

  .units .box {
    margin: 30px;
  }

  .icons .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .main .info {
    padding: 5%;
  }

  .units {
    padding: 0%;
  }
  .units .grid {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .units .box {
    padding: 20px 30px;
    width: 75%;
  }

  .icons .container {
    grid-template-columns: 1fr;
  }
}
